.profile_picture {
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 38px #111111 ;
}

.red-text {
  color: #d24d57
}

.green-text {
  color: #3cb572
}

.blue-text {
  color: #34b9db
}

.yellow-text {
  color: #e7903c
}
