body {
  background-color: #f8f9fa;
  color: #212529;
}

.profile_picture {
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 38px #e9ecef;
  vertical-align: middle;
  margin-top: 80px;
}

.content {
  font-family: monospace;
  text-align: justify;
  text-justify: inter-word;
}

.link {
  color: #212529;
  text-decoration: underline;
}
